*{
    padding: 0;
    margin: 0;
}
html .body{
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    overflow-x: hidden;

}
header{
    border:2px solid black;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    letter-spacing: 30px;
    height: 80px;
    padding-top: 15px;
}
.carousel-inner img{
    width:100px;
    height:500px;
    /* margin-right: -500px; */
}
.kannurintro{
    /* border:2px solid black; */
    margin:2%;
    padding:50px;
    color:grey;

}
.kannurintro h1{
    text-align: center;
    color:turquoise;
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    letter-spacing: 5px;
}
.kannurintro p{
    color:whitesmoke;
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
}
.placestovisitinkannur{
    /* border:2px solid black; */
    width:100%;

}
.placestovisitinkannur h2{
    text-align: center;
    color:turquoise;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 50px;
    font-weight: 100px;
    margin-top: 20px;
    letter-spacing:5px ;
}
.box{
    width:40%;
    height:680px;
    border:2px solid black;
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgba(0,0,0,0.2);
    float: left;
    padding:30px;
    margin-right:180px;
    margin-left: -110px;
    padding-right: -80px;
    color: whitesmoke;
}
.box img{
    width:500px;
    height:250px;

}
.box p{
    color: whitesmoke;
}
#id1{
    width:350px;
    height:250px;
}
#id2{
    width:350px;
    height:250px;
}
#id3{
    width:350px;
    height:250px;
}
#id4{
    width:350px;
    height:250px;
}
#id5{
    width:350px;
    height:250px;
}
#id6{
    width:350px;
    height:250px;
}
#id7{
    width:350px;
    height:250px;
}
#id8{
    width:350px;
    height:250px;
}
#id9{
    width:350px;
    height:250px;
}
